# AI LAB 12
### Name: Sadia Eman
### Rollnumber: BSDS-F23-019

<div class="alert alert-block alert-info">
    Using <b>Python </b> v3.11.5
    <br>
    with <b>Jupyter </b> v7.4.9
</div>

# Import Libraries

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier

# Load Dataset

In [5]:
df=pd.read_csv('test.csv')
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# Data Exploration

In [6]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
df.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [8]:
df.shape

(418, 11)

In [9]:
print(f"Number of rows {df.shape[0]} ,Number of Columns {df.shape[1]}, ")

Number of rows 418 ,Number of Columns 11,

In [10]:
print("---Attribute in Data---")
for cols in df.columns:
    print(cols)

---Attribute in Data---
PassengerId
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [11]:
print("---Number of Rows in Data---")
df.count()

---Number of Rows in Data---

PassengerId    418
Pclass         418
Name           418
Sex            418
Age            332
SibSp          418
Parch          418
Ticket         418
Fare           417
Cabin           91
Embarked       418
dtype: int64

In [12]:
# unique values in specific columns
df["Sex"].unique()

array(['male', 'female'], dtype=object)

In [13]:
# number of unique values
print("---Number of unique Values in Data---")
df.nunique()

---Number of unique Values in Data---

PassengerId    418
Pclass           3
Name           418
Sex              2
Age             79
SibSp            7
Parch            8
Ticket         363
Fare           169
Cabin           76
Embarked         3
dtype: int64

In [14]:
df.isnull()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
413,False,False,False,False,True,False,False,False,False,True,False
414,False,False,False,False,False,False,False,False,False,False,False
415,False,False,False,False,False,False,False,False,False,True,False
416,False,False,False,False,True,False,False,False,False,True,False
417,False,False,False,False,True,False,False,False,False,True,False

In [15]:
print("--Number of Null Values--")
df.isnull().sum()

--Number of Null Values--

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [16]:
print("--Insights of Data--")
df.info()

--Insights of Data--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

# Data Pre-Process

# Manage Null-Values

In [18]:
print("-- Number of Null Values in Data --")
print(df.isnull().sum())

-- Number of Null Values in Data --
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [19]:
def fillNaObjMode(col):
    for i in col:
        df[i] = df[i].fillna(df[i].mode()[0])
columns = ['Cabin']
fillNaObjMode(columns)

In [20]:
def fillNaMean(col):
    for i in col:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Age']
fillNaMean(columns)

In [21]:
print(df.isnull().sum())

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

In [22]:
print("--Insights of Data--")
df.info()

--Insights of Data--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [23]:
pd.options.display.float_format ='{:.2f}'.format

In [24]:
df.describe()

       PassengerId  Pclass    Age  SibSp  Parch   Fare
count       418.00  418.00 418.00 418.00 418.00 417.00
mean       1100.50    2.27  30.27   0.45   0.39  35.63
std         120.81    0.84  12.63   0.90   0.98  55.91
min         892.00    1.00   0.17   0.00   0.00   0.00
25%         996.25    1.00  23.00   0.00   0.00   7.90
50%        1100.50    3.00  30.27   0.00   0.00  14.45
75%        1204.75    3.00  35.75   1.00   0.00  31.50
max        1309.00    3.00  76.00   8.00   9.00 512.33

In [25]:
df.describe(include='all')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,418.00,418.00,418,418,418.00,418.00,418.00,418,417.00,418,418
unique,NaN,NaN,418,2,NaN,NaN,NaN,363,NaN,76,3
top,NaN,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,PC 17608,NaN,B57 B59 B63 B66,S
freq,NaN,NaN,1,266,NaN,NaN,NaN,5,NaN,330,270
mean,1100.50,2.27,NaN,NaN,30.27,0.45,0.39,NaN,35.63,NaN,NaN
std,120.81,0.84,NaN,NaN,12.63,0.90,0.98,NaN,55.91,NaN,NaN
min,892.00,1.00,NaN,NaN,0.17,0.00,0.00,NaN,0.00,NaN,NaN
25%,996.25,1.00,NaN,NaN,23.00,0.00,0.00,NaN,7.90,NaN,NaN
50%,1100.50,3.00,NaN,NaN,30.27,0.00,0.00,NaN,14.45,NaN,NaN
75%,1204.75,3.00,NaN,NaN,35.75,1.00,0.00,NaN,31.50,NaN,NaN
max,1309.00,3.00,NaN,NaN,76.00,8.00,9.00,NaN,512.33,NaN,NaN

In [26]:
df.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [27]:
dup_data=df.duplicated().any()

In [28]:
print("Are there any duplicate value?",dup_data)

Are there any duplicate value? False

In [29]:
df=df.drop_duplicates()
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.83,B57 B59 B63 B66,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.00,B57 B59 B63 B66,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.69,B57 B59 B63 B66,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.66,B57 B59 B63 B66,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.29,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.27,0,0,A.5. 3236,8.05,B57 B59 B63 B66,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00,0,0,PC 17758,108.90,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.50,0,0,SOTON/O.Q. 3101262,7.25,B57 B59 B63 B66,S
416,1308,3,"Ware, Mr. Frederick",male,30.27,0,0,359309,8.05,B57 B59 B63 B66,S
417,1309,3,"Peter, Master. Michael J",male,30.27,1,1,2668,22.36,B57 B59 B63 B66,C

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [43]:
df['Fare'] = df['Fare'].fillna(0)
df['Fare'] = df['Fare'].replace([np.inf, -np.inf], 0)
df['Fare'] = df['Fare'].round().astype('int64')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    int64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    int64
 9   Cabin        418 non-null    object
 10  Embarked     418 non-null    object
dtypes: int64(6), object(5)
memory usage: 36.1+ KB

In [45]:
df_encoded = df.copy()

In [46]:
def encodeCols(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_label_encoder = LabelEncoder()
        data_label_encoder.fit(np.ravel(data))
        df_encoded[i] = data_label_encoder.transform(df[i]) 
columns = ['Name','Sex','Ticket','Cabin','Embarked','Age']
encodeCols(columns)

In [47]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    int32
 3   Sex          418 non-null    int32
 4   Age          418 non-null    int64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    int32
 8   Fare         418 non-null    int64
 9   Cabin        418 non-null    int32
 10  Embarked     418 non-null    int32
dtypes: int32(5), int64(6)
memory usage: 27.9 KB

In [50]:
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['Embarked'] = label_encoder.fit_transform(df['Embarked'].fillna(df['Embarked'].mode()[0]))

In [51]:
df_encoded.to_csv(r'encoded-data.csv', index = False, header = True)

# Train-Test Splitting

In [53]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df['Pclass']

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [56]:
X_train.head()

     Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
118       1    1   36      0      0    75         0
271       3    1   30      0      0     8         1
114       1    0   63      1      0   222         2
311       3    1   22      0      0     7         0
131       1    1   53      0      0    28         0

# Applying Different Classifiers

# a. Random Forest Classifier

In [57]:
RF = RandomForestClassifier()

In [58]:
RF.fit(X_train,y_train)

RandomForestClassifier()

In [59]:
Y_rpred = RF.predict(X_test)
r_accuracy = accuracy_score(y_test, Y_rpred)

In [61]:
print('Accuracy: %f' % r_accuracy)
r_precision = metrics.precision_score(y_test, Y_rpred, average='weighted', 
labels=np.unique(Y_rpred))
print('Precision: %f' % r_precision)
r_recall = metrics.recall_score(y_test, Y_rpred, average='weighted', labels=np.unique(Y_rpred))
print('Recall: %f' % r_recall)
r_f1 = metrics.f1_score(y_test, Y_rpred, average='weighted', labels=np.unique(Y_rpred))
print('F1 score: %f' % r_f1)

Accuracy: 1.000000
Precision: 1.000000
Recall: 1.000000
F1 score: 1.000000

# b.Bernoulli

In [62]:
BernNB = BernoulliNB()

In [63]:
BernNB.fit(X_train,y_train)

BernoulliNB()

In [64]:
Y_bpred = BernNB.predict(X_test)
b_accuracy = metrics.accuracy_score(y_test, Y_bpred)
print('Accuracy: %f' % b_accuracy)
b_precision = metrics.precision_score(y_test, Y_bpred, average='weighted', 
labels=np.unique(Y_bpred))
print('Precision: %f' % b_precision)
b_recall = metrics.recall_score(y_test, Y_bpred, average='weighted', labels=np.unique(Y_bpred))
print('Recall: %f' % b_recall)
b_f1 = metrics.f1_score(y_test, Y_bpred, average='weighted', labels=np.unique(Y_bpred))
print('F1 score: %f' % b_f1)

Accuracy: 0.500000
Precision: 0.485338
Recall: 0.670213
F1 score: 0.545068

# c. GaussianNB

In [65]:
GausNB = GaussianNB()

In [66]:
GausNB.fit(X_train,y_train)

GaussianNB()

In [67]:
Y_gpred = GausNB.predict(X_test)

In [68]:
g_accuracy = accuracy_score(y_test, Y_gpred)
print('Accuracy: %f' % g_accuracy)
g_precision = metrics.precision_score(y_test, Y_gpred, average='weighted', 
labels=np.unique(Y_gpred))
print('Precision: %f' % g_precision)
g_recall = metrics.recall_score(y_test, Y_gpred, average='weighted', labels=np.unique(Y_gpred))
print('Recall: %f' % g_recall)
g_f1 = metrics.f1_score(y_test, Y_gpred, average='weighted', labels=np.unique(Y_gpred))
print('F1 score: %f' % g_f1)

Accuracy: 1.000000
Precision: 1.000000
Recall: 1.000000
F1 score: 1.000000

# d. Decision Tree

In [69]:
Dtree = DecisionTreeClassifier()

In [70]:
Dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [71]:
Y_dpred = Dtree.predict(X_test)

In [72]:
d_accuracy = accuracy_score(y_test, Y_dpred)
print('Accuracy: %f' % d_accuracy)
d_precision = metrics.precision_score(y_test, Y_dpred, average='weighted', 
labels=np.unique(Y_dpred))
print('Precision: %f' % d_precision)
d_recall = metrics.recall_score(y_test, Y_dpred, average='weighted', labels=np.unique(Y_dpred))
print('Recall: %f' % d_recall)
d_f1 = metrics.f1_score(y_test, Y_dpred, average='weighted', labels=np.unique(Y_dpred))
print('F1 score: %f' % d_f1)

Accuracy: 1.000000
Precision: 1.000000
Recall: 1.000000
F1 score: 1.000000

# e. MultinomialNB

In [73]:
MultiNB = MultinomialNB()

In [74]:
MultiNB.fit(X_train,y_train)

MultinomialNB()

In [75]:
Y_mpred = MultiNB.predict(X_test)

In [76]:
m_accuracy = accuracy_score(y_test, Y_mpred)
print('Accuracy: %f' % m_accuracy)
m_precision = metrics.precision_score(y_test, Y_mpred, average='weighted', 
labels=np.unique(Y_mpred))
print('Precision: %f' % m_precision)
m_recall = metrics.recall_score(y_test, Y_mpred, average='weighted', 
labels=np.unique(Y_mpred))
print('Recall: %f' % m_recall)
m_f1 = metrics.f1_score(y_test, Y_mpred, average='weighted', labels=np.unique(Y_mpred))
print('F1 score: %f' % m_f1)

Accuracy: 0.587302
Precision: 0.578759
Recall: 0.587302
F1 score: 0.576360

# f. KNN

In [77]:
KNN = KNeighborsClassifier()

In [78]:
KNN.fit(X_train,y_train)

KNeighborsClassifier()

In [79]:
Y_kpred = KNN.predict(X_test)

In [80]:
k_accuracy = accuracy_score(y_test, Y_kpred)
print('Accuracy: %f' % k_accuracy)
k_precision = metrics.precision_score(y_test, Y_kpred, average='weighted', 
labels=np.unique(Y_kpred))
print('Precision: %f' % k_precision)
k_recall = metrics.recall_score(y_test, Y_kpred, average='weighted', labels=np.unique(Y_kpred))
print('Recall: %f' % k_recall)
k_f1 = metrics.f1_score(y_test, Y_kpred, average='weighted', labels=np.unique(Y_kpred))
print('F1 score: %f' % k_f1)

Accuracy: 0.785714
Precision: 0.782962
Recall: 0.785714
F1 score: 0.783895