# AI LAB 12
### Name: Sadia Eman
### Rollnumber: BSDS-F23-019

<div class="alert alert-block alert-info" style="background-color: lightgreen; color: black;">
    Using <b>Python </b> v3.11.5
    <br>
    with <b>Jupyter </b> v7.4.9
</div>

# Import Libraries

In [263]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier

# Load Dataset

In [185]:
df=pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.00,0,0,370376,7.75,NaN,Q

# Data Exploration

In [186]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,NaN,S

In [187]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.00,0,0,370376,7.75,NaN,Q

In [188]:
df.shape

(891, 12)

In [189]:
print(f"Number of rows {df.shape[0]} ,Number of Columns {df.shape[1]}, ")

Number of rows 891 ,Number of Columns 12,

In [190]:
print("---Attribute in Data---")
for cols in df.columns:
    print(cols)

---Attribute in Data---
PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [191]:
print("---Number of Rows in Data---")
df.count()

---Number of Rows in Data---

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [192]:
# unique values in specific columns
df["Sex"].unique()

array(['male', 'female'], dtype=object)

In [193]:
# number of unique values
print("---Number of unique Values in Data---")
df.nunique()

---Number of unique Values in Data---

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [194]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [195]:
print("--Number of Null Values--")
df.isnull().sum()

--Number of Null Values--

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [196]:
print("--Insights of Data--")
df.info()

--Insights of Data--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# Data Pre-Process

# Manage Null-Values

In [197]:
print("-- Number of Null Values in Data --")
print(df.isnull().sum())

-- Number of Null Values in Data --
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [199]:
def fillNaObjMode(col):
    for i in col:
        df[i] = df[i].fillna(df[i].mode()[0])
columns = ['Cabin','Embarked']
fillNaObjMode(columns)

In [200]:
def fillNaMean(col):
    for i in col:
        df[i] = df[i].fillna(df[i].mean())

columns = ['Age']
fillNaMean(columns)

In [201]:
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [202]:
print("--Insights of Data--")
df.info()

--Insights of Data--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [203]:
pd.options.display.float_format ='{:.2f}'.format

In [204]:
df.describe()

       PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
count       891.00    891.00  891.00 891.00 891.00 891.00 891.00
mean        446.00      0.38    2.31  29.70   0.52   0.38  32.20
std         257.35      0.49    0.84  13.00   1.10   0.81  49.69
min           1.00      0.00    1.00   0.42   0.00   0.00   0.00
25%         223.50      0.00    2.00  22.00   0.00   0.00   7.91
50%         446.00      0.00    3.00  29.70   0.00   0.00  14.45
75%         668.50      1.00    3.00  35.00   1.00   0.00  31.00
max         891.00      1.00    3.00  80.00   8.00   6.00 512.33

In [205]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.00,891.00,891.00,891,891,891.00,891.00,891.00,891,891.00,891,891
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,691,646
mean,446.00,0.38,2.31,NaN,NaN,29.70,0.52,0.38,NaN,32.20,NaN,NaN
std,257.35,0.49,0.84,NaN,NaN,13.00,1.10,0.81,NaN,49.69,NaN,NaN
min,1.00,0.00,1.00,NaN,NaN,0.42,0.00,0.00,NaN,0.00,NaN,NaN
25%,223.50,0.00,2.00,NaN,NaN,22.00,0.00,0.00,NaN,7.91,NaN,NaN
50%,446.00,0.00,3.00,NaN,NaN,29.70,0.00,0.00,NaN,14.45,NaN,NaN
75%,668.50,1.00,3.00,NaN,NaN,35.00,1.00,0.00,NaN,31.00,NaN,NaN
max,891.00,1.00,3.00,NaN,NaN,80.00,8.00,6.00,NaN,512.33,NaN,NaN

In [206]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [207]:
dup_data=df.duplicated().any()

In [208]:
print("Are there any duplicate value?",dup_data)

Are there any duplicate value? False

In [209]:
df=df.drop_duplicates()
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.25,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.92,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.05,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.00,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.70,1,2,W./C. 6607,23.45,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.00,0,0,370376,7.75,B96 B98,Q

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [211]:
def changetoint64(col):
    for i in col:
        df[i] = df[i].astype('int64')
        
columns =[
    'Age','Fare'
]
changetoint64(columns)

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    int64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: int64(7), object(5)
memory usage: 83.7+ KB

In [213]:
df_encoded = df.copy()

In [214]:
def encodeCols(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_label_encoder = LabelEncoder()
        data_label_encoder.fit(np.ravel(data))
        df_encoded[i] = data_label_encoder.transform(df[i]) 
columns = ['Name','Sex','Ticket','Cabin','Embarked','Age']
encodeCols(columns)

In [215]:
# All the Attributes are Numerical 
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    int32
 4   Sex          891 non-null    int32
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    int32
 9   Fare         891 non-null    int64
 10  Cabin        891 non-null    int32
 11  Embarked     891 non-null    int32
dtypes: int32(5), int64(7)
memory usage: 66.3 KB

In [216]:
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['Embarked'] = label_encoder.fit_transform(df['Embarked'].fillna(df['Embarked'].mode()[0]))

In [217]:
df_encoded.to_csv(r'encoded-data.csv', index = False, header = True)

# Train-Test Splitting

In [218]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df['Survived']

In [219]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [220]:
X_train.head()

     Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
445       1    1    4      0      2    81         2
650       3    1   29      0      0     7         2
172       3    0    1      1      1    11         2
450       2    1   36      1      2    27         2
314       2    1   43      1      1    26         2

# Applying Different Classifiers

# a. Random Forest Classifier

In [222]:
RF = RandomForestClassifier()

In [223]:
RF.fit(X_train,y_train)

RandomForestClassifier()

In [224]:
Y_rpred = RF.predict(X_test)
r_accuracy = accuracy_score(y_test, Y_rpred)

In [225]:
print('Accuracy: %f' % r_accuracy)
r_precision = metrics.precision_score(y_test, Y_rpred, average='weighted', 
labels=np.unique(Y_rpred))
print('Precision: %f' % r_precision)
r_recall = metrics.recall_score(y_test, Y_rpred, average='weighted', labels=np.unique(Y_rpred))
print('Recall: %f' % r_recall)
r_f1 = metrics.f1_score(y_test, Y_rpred, average='weighted', labels=np.unique(Y_rpred))
print('F1 score: %f' % r_f1)

Accuracy: 0.791045
Precision: 0.789972
Recall: 0.791045
F1 score: 0.790102

# b.Bernoulli

In [226]:
BernNB = BernoulliNB()

In [228]:
BernNB.fit(X_train,y_train)

BernoulliNB()

In [230]:
Y_bpred = BernNB.predict(X_test)
b_accuracy = metrics.accuracy_score(y_test, Y_bpred)
print('Accuracy: %f' % b_accuracy)
b_precision = metrics.precision_score(y_test, Y_bpred, average='weighted', 
labels=np.unique(Y_bpred))
print('Precision: %f' % b_precision)
b_recall = metrics.recall_score(y_test, Y_bpred, average='weighted', labels=np.unique(Y_bpred))
print('Recall: %f' % b_recall)
b_f1 = metrics.f1_score(y_test, Y_bpred, average='weighted', labels=np.unique(Y_bpred))
print('F1 score: %f' % b_f1)

Accuracy: 0.802239
Precision: 0.801354
Recall: 0.802239
F1 score: 0.801510

# c. GaussianNB

In [240]:
GausNB = GaussianNB()

In [245]:
GausNB.fit(X_train,y_train)

GaussianNB()

In [246]:
Y_gpred = GausNB.predict(X_test)

In [247]:
g_accuracy = accuracy_score(y_test, Y_gpred)
print('Accuracy: %f' % g_accuracy)
g_precision = metrics.precision_score(y_test, Y_gpred, average='weighted', 
labels=np.unique(Y_gpred))
print('Precision: %f' % g_precision)
g_recall = metrics.recall_score(y_test, Y_gpred, average='weighted', labels=np.unique(Y_gpred))
print('Recall: %f' % g_recall)
g_f1 = metrics.f1_score(y_test, Y_gpred, average='weighted', labels=np.unique(Y_gpred))
print('F1 score: %f' % g_f1)

Accuracy: 0.798507
Precision: 0.799832
Recall: 0.798507
F1 score: 0.798991

# d. Decision Tree

In [248]:
Dtree = DecisionTreeClassifier()

In [250]:
Dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [251]:
Y_dpred = Dtree.predict(X_test)

In [252]:
d_accuracy = accuracy_score(y_test, Y_dpred)
print('Accuracy: %f' % d_accuracy)
d_precision = metrics.precision_score(y_test, Y_dpred, average='weighted', 
labels=np.unique(Y_dpred))
print('Precision: %f' % d_precision)
d_recall = metrics.recall_score(y_test, Y_dpred, average='weighted', labels=np.unique(Y_dpred))
print('Recall: %f' % d_recall)
d_f1 = metrics.f1_score(y_test, Y_dpred, average='weighted', labels=np.unique(Y_dpred))
print('F1 score: %f' % d_f1)

Accuracy: 0.776119
Precision: 0.776119
Recall: 0.776119
F1 score: 0.776119

# e. MultinomialNB

In [257]:
MultiNB = MultinomialNB()

In [259]:
MultiNB.fit(X_train,y_train)

MultinomialNB()

In [260]:
Y_mpred = MultiNB.predict(X_test)

In [261]:
m_accuracy = accuracy_score(y_test, Y_mpred)
print('Accuracy: %f' % m_accuracy)
m_precision = metrics.precision_score(y_test, Y_mpred, average='weighted', 
labels=np.unique(Y_mpred))
print('Precision: %f' % m_precision)
m_recall = metrics.recall_score(y_test, Y_mpred, average='weighted', 
labels=np.unique(Y_mpred))
print('Recall: %f' % m_recall)
m_f1 = metrics.f1_score(y_test, Y_mpred, average='weighted', labels=np.unique(Y_mpred))
print('F1 score: %f' % m_f1)

Accuracy: 0.712687
Precision: 0.715937
Recall: 0.712687
F1 score: 0.699099

# f. KNN

In [264]:
KNN = KNeighborsClassifier()

In [265]:
KNN.fit(X_train,y_train)

KNeighborsClassifier()

In [266]:
Y_kpred = KNN.predict(X_test)

In [269]:
k_accuracy = accuracy_score(y_test, Y_kpred)
print('Accuracy: %f' % k_accuracy)
k_precision = metrics.precision_score(y_test, Y_kpred, average='weighted', 
labels=np.unique(Y_kpred))
print('Precision: %f' % k_precision)
k_recall = metrics.recall_score(y_test, Y_kpred, average='weighted', labels=np.unique(Y_kpred))
print('Recall: %f' % k_recall)
k_f1 = metrics.f1_score(y_test, Y_kpred, average='weighted', labels=np.unique(Y_kpred))
print('F1 score: %f' % k_f1)

Accuracy: 0.720149
Precision: 0.718155
Recall: 0.720149
F1 score: 0.713527